.ballbox{
 	width: 50px;
 	height: 50px;
 	border-radius: 50%;
 	background: radial-gradient(#f9dfa1,#d4af55);
 	position: absolute;
 	top: 500px;
 	left: 100px;
 	z-index: 9;
}

.shadow{
	width: 50px;
	height: 25px;
	border-radius: 50%;
	background: radial-gradient(#ccc,#f0f0f0,transparent);
	position: absolute;
 	top: 540px;
 	left: 100px;
 	z-index: 0;
}