.container{
    width: 200px;
    height: 100px;
    background: #ccc;
    position: relative;
    overflow: hidden;
}

body{
    margin: 0; 
}

ul,li{
    margin:0;
    padding: 0; 
}
li{
    list-style: none;
}

.sliderContent{
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
}

.sliderItem{
    width: 200px;
    height: 100%;
}

.sliderItem:nth-child(even){
    background: red;
}

.sliderItem:nth-child(odd){
    background: blue;
}

.prev,.next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ccc;
    z-index: 9;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}
