.container{
    width: 320px;
    height: 200px;
    background: #ccc;
    position: relative;
    overflow: hidden;
    margin: 100px auto;
}

body{
    margin: 0; 
}

ul,li{
    margin:0;
    padding: 0; 
}
li{
    list-style: none;
}

.sliderContent {
    height: 100%;
    position: absolute;
    left: 0;
    /*display: flex;*/
}

.sliderItem {
    width: 320px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #000;
    background: orange;
}

.prev,.next{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ccc;
    z-index: 9;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}
