body, ul, li {
    margin: 0; 
}

.tabContainer{
    width: 100%;
    max-width: 500px;
}

.tabNav{
    width: 100%;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
}

.tabNav li{
    min-width: 30px;
    padding: 0 22px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

li.active{
    background: #eee;
    color: #fc929e;
}

.contentItem.active{
    display: block;
}

.tabContent{
    min-height: 200px;
}

.contentItem{
    width: 100%;
    height: 100%;
    line-height: 30px;
    min-height: 200px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}