.box{
	width: 100px;
	height: 100px;
	background: #eee;
	position: absolute;
	top: 20%;
	left:10%;
    text-align: center;
}

.btn-group{
    position: fixed;
    z-index: 9;
}

button{
	padding:3px 5px; 
    line-height: 30px;
    border: 1px solid #eee;
    background: none;
}

.dragbox{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	background: #f0f0f0;
}